.row{
    padding: 20px;
    border: 1px solid blueviolet;
    h1{
        color: red;
        font-family: italic;
        font-weight: bold;
    }
    p{
        color: chocolate;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-left: 30px;
    }
}